* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

a,
a:hover,
li {
    color: inherit !important;
    text-decoration: none!important;
}

li {
    list-style: none;
    display: inline;
}

.cursor {
    cursor: pointer;
}

img {
    filter: contrast(110%);
}


/* FONT */

.font,
h1,
h4 {
    font-family: 'Saira Stencil One', cursive;
}

.img_box {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
}

.img_box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*navbar*/

.navbar {
    background-image: url("../images/lightning.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-sm,
#mySidenav {
    display: none;
}

.ham {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: rgba(36, 36, 36, 0.9);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    overflow: auto;
}

@media(max-width:1200px) {
    #nav-lg,
    #user_menu {
        display: none;
    }
    #nav-sm,
    #mySidenav {
        display: block;
    }
}


/*footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}